<!--
Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) 
SoftDev 
P0 -- Da Art of Story Tellin' (Pt 2)
2020-12-28 
-->
<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block body %}
  <head>
    <title> Team SharpCat </title>
  </head>

  <body>
   <h1> Create a blog post for {{user}}: </h1>
   <h2>
    Roster: Alvin Wu, Jonathan Lee, Madelyn Mao, Victoria Gao
    </h2>

<form action="/add">
      <textarea id="Title" name="Title" rows="3" cols="200" placeholder="Title"></textarea> 
      <textarea id="Text" name="Text" rows="25" cols="200" placeholder="Text"></textarea> 
      <br></br>
      <input type = "submit" value ="Publish Changes">
</form>
<form action="/">
<input type = "submit" value ="Discard Changes">
</form>
  </body>
{% endblock %}
</html>
