<!--
Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) 
SoftDev 
P0 -- Da Art of Story Tellin' (Pt 2)
2020-12-28 
-->
<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <div class="navbar">
    {% if not (status) %}
      <a id="home" href="/">Home</a>
      <a href="/newuser">Sign Up</a>
    {% else %}
      <a id="home" href="/">Home</a>
      <a href="/blog">My Posts</a>
      <a href="/post/new"> New Post </a>
      <a href="/all"> Browse </a>
      <a href="/viewusers"> View Users </a>
        <div class="dropdown">
          <button id='dropbtn'>{{user}}</button>
          <div class="dropdown-content">
            <a href="/logout">Logout</a>
          </div>
        </div>
    {% endif %}

  </div>

  <body>
    {% block body %}{% endblock %}
  </body>