<!-- 
Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) 
SoftDev 
P0 -- Da Art of Story Tellin' (Pt 2)
2020-12-28 
-->
<!DOCTYPE html>
<html>
  {% extends "base.html" %}
  {% block title %} Sign Up {% endblock %}
  {% block body %}
    <h1>
    Welcome to SharpCat Blogs' sign up page!
    </h1>
    <h2>
    Roster: Alvin Wu, Jonathan Lee, Madelyn Mao, Victoria Gao
    </h2>
    <h3>
    No account? Sign up below!
    </h3>
    <form action="/signup">
      Pick Username <input type="text" name="newusername">
      <br></br>
      Pick Password <input type = "password" name = "newpassword">
      <br></br>
      Write Short Bio <input type = "text" name = "bio">
      <br></br>
      <input type="submit" name="sub" value = "Sign Up!">
    </form>
    {% endblock %}
</html>
