<! Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) >
<! SoftDev >
<! P0 -- Da Art of Story Tellin' (Pt 2)>
<! 2020-12-28 >

<! (M) add form to take new text, 
add button that lets you save changes (return text) then back to previous page
and button that "discards" which takes user back to previous page>

<!DOCTYPE html>
<html>

  <head>
    <title> Team SharpCat </title>
  </head>

  <body>
   <h1> Welcome {{user}}! Here you can update your blog </h1>
   <h2>
    Roster: Alvin Wu, Jonathan Lee, Madelyn Mao, Victoria Gao
    </h2>
     
<br></br>
    <form action = "/logout">
	<input type = "submit" value ="Logout">
    </form>

  </body>

</html>
