<! Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) >
<! SoftDev >
<! P0 -- Da Art of Story Tellin' (Pt 2)>
<! 2020-12-28 >

<! (M/V), displays a list posts from a user, should be able to click on links that take you to viewblog.html>


<!DOCTYPE html>
<html>

  <head>
    <title> Team SharpCat </title>
  </head>

  <body>
   <h1> Welcome {{user}}! Here is a list of posts from a specific user (mention the user) </h1>
   <h2>
    Roster: Alvin Wu, Jonathan Lee, Madelyn Mao, Victoria Gao
    </h2>

    {% for p in posts %}
      <header>
        <div>
          <h3>{{ p[1] }}</h3>
          <div class="about">by {{ user }} on {{ p[3] }}</div> <!-- add date formatter --> 
        </div>
        <!-- add edit button here or something -->
      </header>
      <p class="body">{{ p[2] }}</p>
    {% if not loop.last %}
     
<br></br>
    <form action = "/logout">
	<input type = "submit" value ="Logout">
    </form>

  </body>

</html>
