<!--
Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) 
SoftDev 
P0 -- Da Art of Story Tellin' (Pt 2)
2020-12-28 



Loops through users and displays them
-->


<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block body %}
  <head>
    <title> Team SharpCat </title>
  </head>

  <body>
   <h1> List of Users </h1>
   <h2>
    Roster: Alvin Wu, Jonathan Lee, Madelyn Mao, Victoria Gao
    </h2>
    {% for p in users|sort(attribute="0") %}
      <header>
        <div>
          <h3><a href="/blog/{{p[0]}}">{{ p[0] }}</a></h3>
      </header>
    {% endfor %}
     
<br></br>

  </body>
{% endblock %}
</html>
