<!--
Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) 
SoftDev 
P0 -- Da Art of Story Tellin' (Pt 2)
2020-12-28 



all posts from everyone, most recent
-->

<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block body %}
  <head>
    <title> Team SharpCat </title>
  </head>

  <body>
   <h1> Recent Posts</h1>
   <h2>
    Roster: Alvin Wu, Jonathan Lee, Madelyn Mao, Victoria Gao
    </h2>
    {% for p in posts|sort(attribute='4')|reverse %}
      <header>
        <div>
          <h3><a href="/post/{{p[0]}}">{{ p[2] }}</a></h3>
          <div class="authorinfo">by <a href="/blog/{{author[loop.index0][0]}}">{{ author[loop.index0][0] }}</a>, lasted edited {{ p[4] }}</div> <!-- add date formatter --> 
        </div>
        <!-- how i did this is so scuffed but it works lol -->
      </header>
      <br>
      <p class="body">{{ p[3] }}</p>
      <br>
    
    {% endfor %}
  </body>
{% endblock %}
</html>
