<! Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) >
<! SoftDev >
<! P0 -- Da Art of Story Tellin' (Pt 2)>
<! 2020-12-28 >

<! (M/V)
loop through to display all recent users
user can click links from the list of recent users that leads them to viewuser.html>


<!DOCTYPE html>
<html>

  <head>
    <title> Team SharpCat </title>
  </head>

  <body>
   <h1> Welcome {{user}}! Here you view all users that have written blogs recently </h1>
   <h2>
    Roster: Alvin Wu, Jonathan Lee, Madelyn Mao, Victoria Gao
    </h2>
     
<br></br>
    <form action = "/logout">
	<input type = "submit" value ="Logout">
    </form>

  </body>

</html>
