<! Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) >
<! SoftDev >
<! P0 -- Da Art of Story Tellin' (Pt 2)>
<! 2020-12-28 >

<! (M/V), displays a blog entry>


<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block body %}
  <head>
    <title> Team SharpCat </title>
  </head>

  <body>
   <h1> Welcome {{user}}! Here you view your friends specific blog </h1>
   <h2>
    Roster: Alvin Wu, Jonathan Lee, Madelyn Mao, Victoria Gao
    </h2>

Title: {{title}}
By: {{author}}
Written On: {{date}}
Text: {{body}}

{% if (allowEdit) %}
<form action="/post/{{posturl}}/edit">
<input type="submit" value="Edit">
</form>
{% endif %}
     
<br></br>
    <form action = "/logout">
	<input type = "submit" value ="Logout">
    </form>

  </body>
{% endblock %}
</html>
