<! Team SharpCat (Alvin Wu, Madelyn Mao, Jonathan Lee, Victoria Gao) >
<! SoftDev >
<! P0 -- Da Art of Story Tellin' (Pt 2)>
<! 2020-12-28 >

<! lists all posts from everyone>

<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block body %}
  <head>
    <title> Team SharpCat </title>
  </head>

  <body>
   <h1> Hello {{user}}! Here are the most recent posts on the site.</h1>
   <h2>
    Roster: Alvin Wu, Jonathan Lee, Madelyn Mao, Victoria Gao
    </h2>
 {% for p in posts %}
      <header>
        <div>
          <h3>Title: {{ p[2] }}</h3>
          <div class="authorinfo">by {{ user }} on {{ p[4] }}</div> <!-- add date formatter --> 
        </div>
        <!-- add edit button here or something -->
      </header>
      <br>
      Text: <p class="body">{{ p[3] }}</p>
      <br>
    {% if not loop.last %}
    {% endif %}
    {% endfor %}


     
<br></br>
    <form action = "/logout">
	<input type = "submit" value ="Logout">
    </form>

  </body>
{% endblock %}
</html>
